body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: rgb(94, 94, 94);
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
	
	padding-top: 80px; 
}

h1 {
	font-size: 2em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
    font-weight: 300;
    font-family: Verdana, Geneva, sans-serif;
    color: #EB5C00;
}

p {
	margin: 0 0 1.5em 0;
}


/*Estas líneas de CSS las usaremos para dar estilo a la cabecera:*/

#main-header {
    background: rgb(255, 255, 255);
    color: white;
    height: 80px;
    width: 100%; 
    left: 0; 
    top: 0; 
    position: fixed; }

/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
    
/*slider*/

.slider {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;

	animation: cambio 30s infinite alternate;
	animation-timing-function: ease-in;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img{
	width: 1349px;
}

@keyframes cambio {
	0% { margin-left: 0;}
	20% { margin-left: 0;}

	25% { margin-left: -100%;}
	45% { margin-left: -100%;}

	50% { margin-left: -200%;}
	70% { margin-left: -200%;}

	75% { margin-left: -300%;}
	100% { margin-left: -300%;}
}

/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
			display: block;
            padding: 7px 10px;
            text-decoration: none;
            padding-top: 33px;
    }
			
			
/*botones*/

.botones {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: -0.5rem 14.5rem;
    background: var(--color-primary-500);
    color: var(--color-secondary-900);
    font-family: inherit;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    border: 0;
    border-radius: 0.4rem;
    box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
    appearance: none;
    cursor: pointer;
    transition: background 250ms, box-shadow 250ms;

}

/*Con estos estilos aplicaremos diseño al contenido:*/


#main-content {
	background: white;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

	#main-content header,
	#main-content .content {
		padding: 40px;
	}
/*Y por último, con esto estilizaremos el pie de página:*/

#main-footer {
	background: #EB5C00;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
    }
    
.logosena {
    width: 156px;
    height: 60px;
}

.btnletra {
    font-family: Verdana, Geneva, sans-serif;
    color: #EB5C00;
}

.fecha {
    font-family: Verdana, Geneva, sans-serif;
    color: #EB5C00;
}